.sidebar-text-light{
    li a {
        color:white;
    }
    li a:hover {
        color:black;
    }
}

.dark-text{
    li a {
        color:black;
    }
    li a:hover {
        color:black;
    }
}