<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="mr-2">
                    <img src="./assets/img/facebook.svg" width="100" alt="logo-im-the-famose">
                </div>
                <div>Proyecto dentro de Facebook
                    <div class="page-title-subheading">Aquí se encuentra las estadísticas de la página,
                        herramientas y consejos necesarios para que tu página sea famosa rapidamente.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-first">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Fan Pages Like</div>
                        <div class="widget-subheading">Obtener puntos con likes en fan pages</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white">
                            <i class="fas fa-flag" style="height: 2rem"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-secund">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Post like</div>
                        <div class="widget-subheading">Puntos al reaccionar a publicaciones</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white">
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-three">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Share Post</div>
                        <div class="widget-subheading">Puntos al compartir publicaciones</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white">
                            <i class="fas fa-share-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>